@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');


body {
    --font-stack: Manrope, system-ui, sans-serif;
    --font-stack--monospace: "JetBrains Mono", monospace;
}

.sphx-glr-download {
    --sg-download-a-hover-background-color: var(--color-download-button-bg);
    --sg-download-a-background-image: linear-gradient(
        to bottom, var(--color-download-gradient-top), var(--color-download-gradient-bottom));
}
